h3 {
  font-family: "Inconsolata", Courier;
  color: #444444;
  font-weight: 700; }

.fixed {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 3; }

#sidenav-overlay {
  z-index: 0; }

header {
  background-image: url(../img/bg.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header .filter {
    background: rgba(0, 0, 0, 0.1); }
    header .filter .header {
      width: 100%;
      padding: 20% 0; }
      header .filter .header .title-1, header .filter .header .title-3, header .filter .header .title-4 {
        font-family: "Inconsolata", Courier; }
      header .filter .header .title-2 {
        font-size: 5em;
        color: #EFEFEF;
        background: rgba(253, 46, 36, 0.7);
        font-family: "Bad Script", cursive;
        display: block;
        width: 230px;
        margin: 0 auto; }
      header .filter .header .title-1, header .filter .header .title-3 {
        font-size: 2.5em;
        color: #EFEFEF;
        background: rgba(255, 111, 2, 0.7); }
      header .filter .header .title-4 {
        font-size: 3.5em;
        color: #EFEFEF;
        background: rgba(129, 28, 94, 0.7); }
  header nav {
    background: #EFEFEF;
    font-family: "Inconsolata", Courier; }
    header nav .button-collapse {
      color: #444444; }
      header nav .button-collapse:hover {
        color: #FF6F02; }
    header nav .menu-item {
      color: #444444;
      font-size: 1.5em; }
      header nav .menu-item:hover {
        background: #FD2E24;
        color: #EFEFEF; }
    header nav .side-nav {
      background: #EFEFEF;
      width: 200px; }

footer {
  background: rgba(255, 111, 2, 0.2);
  font-family: "Inconsolata", Courier;
  padding: 1% 0;
  font-size: 1.2em; }
  footer a {
    color: rgba(255, 111, 2, 0.7); }

.me {
  background: rgba(255, 111, 2, 0.2);
  padding: 8% 1%; }
  .me .img-perfil {
    width: 30%;
    border-radius: 50%; }
  .me .icon-me {
    font-size: 4.5em;
    color: #FF6F02; }
  .me .key {
    font-size: 7em;
    color: #811C5E;
    background: transparent;
    margin-top: 50%; }
  .me .about {
    font-size: 1.5em;
    color: #444444;
    background: transparent;
    margin: 7% 2%;
    font-family: "Inconsolata", Courier; }

.skills {
  background: #EFEFEF;
  padding: 8% 1%; }
  .skills .cont-skills {
    padding: 7%;
    opacity: 0.5; }
    .skills .cont-skills:hover {
      padding: 5%;
      opacity: 1; }
    .skills .cont-skills .img-resp {
      width: 100%; }

/*
.cont-animation {
	position: relative;
	.animation {
		position: relative;
		width: 30px;
		-webkit-animation: example 5s infinite;
		animation: example 5s infinite;
		z-index: 3;
		img {
			width: 50px;
			margin: 15px 0px;
		}
	}
	@-webkit-keyframes example {
		from {left: 0;}
		to {left: 88%;}
	}
	@keyframes example {
		from {left: 0;}
		to {left: 88%;}
	}
}*/
.works {
  background: #EFEFEF;
  padding: 8% 1%;
  background: rgba(253, 46, 36, 0.2); }
  .works .card {
    margin: 10% 0; }
    .works .card .card-content {
      background: #EFEFEF; }
      .works .card .card-content .card-title {
        font-family: "Inconsolata", Courier;
        color: #811C5E !important; }
        .works .card .card-content .card-title .material-icons:hover {
          color: #FF6F02; }
      .works .card .card-content p a {
        font-family: "Inconsolata", Courier;
        color: #FF6F02; }
    .works .card .card-reveal {
      font-family: "Inconsolata", Courier;
      color: #811C5E !important;
      background: #EFEFEF; }
      .works .card .card-reveal span {
        color: #FD2E24 !important; }
        .works .card .card-reveal span i:hover {
          color: #811C5E; }
      .works .card .card-reveal p {
        font-size: 1.2em; }

.rrss {
  padding: 8% 1%;
  background: #EFEFEF; }
  .rrss .btn-floating.btn-large {
    height: 80px;
    width: 80px;
    margin: 5% 4%; }
    .rrss .btn-floating.btn-large.rrss-tw i {
      background: #FD2E24; }
      .rrss .btn-floating.btn-large.rrss-tw i:hover {
        background: #FF6F02; }
    .rrss .btn-floating.btn-large.rrss-gh i {
      background: #811C5E; }
      .rrss .btn-floating.btn-large.rrss-gh i:hover {
        background: #FD2E24; }
    .rrss .btn-floating.btn-large.rrss-in i {
      background: #FF6F02; }
      .rrss .btn-floating.btn-large.rrss-in i:hover {
        background: #811C5E; }
    .rrss .btn-floating.btn-large i {
      line-height: 80px;
      font-size: 3em; }

@media (min-width: 600px) and (max-width: 790px) {
  header .filter .header .title-4 {
    font-size: 2.5em; } }
@media (max-width: 599px) {
  header {
    background-position: right; }

  header .filter .header .title-4 {
    font-size: 2.5em; }

  .key {
    display: none; } }
@media (min-width: 992px) {
  .fixed {
    position: fixed;
    top: 0;
    height: 64px;
    z-index: 4; } }

/*# sourceMappingURL=main.css.map */
