.me {
	background: rgba(255, 111, 2, 0.2);
	padding: 8% 1%;
	.img-perfil {
		width: 30%;
		border-radius: 50%;
	}
	.icon-me {
		font-size: 4.5em;
		color: $orange;
	}
	.key {
		@include txto (7em, $purple, transparent);
		margin-top: 50%;
	}
	.about {
		@include txto (1.5em, $grayC, transparent);
		margin: 7% 2%;
		font-family: $console;
	}
}
.skills {
	background: $grayA;
	padding: 8% 1%;
	.cont-skills {
		padding: 7%;
		opacity: 0.5;
		&:hover {
			padding: 5%;
			opacity: 1;
		}
		.img-resp {
			width: 100%;
		}
	}
}
/*
.cont-animation {
	position: relative;
	.animation {
		position: relative;
		width: 30px;
		-webkit-animation: example 5s infinite;
		animation: example 5s infinite;
		z-index: 3;
		img {
			width: 50px;
			margin: 15px 0px;
		}
	}
	@-webkit-keyframes example {
		from {left: 0;}
		to {left: 88%;}
	}
	@keyframes example {
		from {left: 0;}
		to {left: 88%;}
	}
}*/
.works {
	background: $grayA;
	padding: 8% 1%;
	background: rgba(253, 46, 36, 0.2);
	.card {
		margin: 10% 0;
		.card-content {
			background: $grayA;
			.card-title {
				font-family: $console;
				color: $purple !important;
				.material-icons:hover {
					color: $orange;
				}
			}
			p a {
				font-family: $console;
				color: $orange;
			}
		}
		.card-reveal {
			font-family: $console;
			color: $purple !important;
			background: $grayA;
			span {
				color: $rose !important;
				i:hover {
					color: $purple;
				}
			}
			p {
				font-size: 1.2em;
			}
		}
	}
}
.rrss {
	padding: 8% 1%;
	background: $grayA;
	.btn-floating.btn-large {
		height: 80px;
		width: 80px;
		margin: 5% 4%;
		&.rrss-tw i {
			background: $rose;
			&:hover {
				background: $orange;
			}
		}
		&.rrss-gh i {
			background: $purple;
			&:hover {
				background: $rose;
			}
		}
		&.rrss-in i {
			background: $orange;
			&:hover {
				background: $purple;
			}
		}
		i {
			line-height: 80px;
			font-size: 3em;
		}
	}
}