//colors
$purple: #811C5E;
$rose: #FD2E24;
$orange: #FF6F02;
$grayA: #EFEFEF;
$grayB: #B3B3B3;
$grayC: #444444;

//fonts
$script: 'Bad Script', cursive;
$console: 'Inconsolata', Courier;

//animation
$background-color: #222222;

$ball-colors: (
  #bfc7b9,
  #fca89c,
  #fdc7b4,
  #fce1c9,
  #fff9cb
);